<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nutrición</title>

    <!-- fuente INICIO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- fuente FIN -->
    
    <!--Estilo CSS INICIO -->
    <link rel="stylesheet" href="../public/css/main.css" />
    <!--Estilo CSS FIN -->

</head>
<body>

  <!-- encabezado INICIO -->
  <header>
      <h1 id="titulo">Nutrición con Melissa Herrera </h1>
      <h2>En este blog hablaremos sobre los mitos y realidades de la nutrición en la actualidad </h2>
  </header>
  <!-- encabezado FIN -->

  <section class="contenersec">
    <article class="post">
  
      <p>Que te parece si primero calculamos tú IMC (índice de masa corporal) es una herramienta que sirve para identificar el sobrepeso y la obesidad en adultos, y para categorizar el peso de una persona. Se calcula dividiendo el peso de una persona en kilogramos entre el cuadrado de su estatura en metros.</p>
  
      <img src="../public/img/nutricion-deportiva.jpg" width="400" />
  
        <article class="calcu">
          <a href="calculoimc.html"> Calculadora IMC </a>
        </article>   
    </article>
  </section>

  <!-- pie de pagina INICIO -->
  <footer>
      <section>
          <a href="#titulo">Ir al inicio</a><br>
          <a href="mailto:johana.aguilar04@gmail.com">Contactame por email si tienes dudas</a>
      </section>
      <p>Copyright 2024</p>
  </footer>
  <!-- pie de pagina FIN -->
    
</body>
</html>